---
layout: body-sample
title: Главная
---

{% for post in site.posts %}
<article class="uk-article">
    <h2 class="uk-text-bold">{{ post.title }}</h2>

    {% if post.author or post.date %}
    <p class="uk-article-meta">Written{% if post.author %} by <strong>{% if post.author_url %}<a href="{{ post.author_url }}" target="_blank">{% endif %}{{ post.author }}{% if post.author_url %}</a>{% endif %}</strong>{% endif %}{% if post.date %} on {{ post.date | date: '%A, %B %-d, %Y' }}{% endif %}</p>
    {% endif %}

    {{ post.excerpt }}

    <a class="uk-button uk-button-mini uk-button-primary" href="{{ post.url }}">Read more &raquo;</a>
</article>
<hr class="uk-article-divider" />
{% endfor %}

