<div class="page-width">
    <div class="jm-f-logo">
        <img src="/assets/img/logotypes/small_logotype.png" alt="jm-organization" class="img-circle img-thumbnail">
        <h4>JM Organization <small>Организация web-разработок</small></h4>
    </div>
    <div class="jm-f-blocks">
        <div class="jm-f-block">
            <h4>test</h4>
            <ul>
                <li>punky</li>
                <li>punky</li>
                <li>punky</li>
                <li>punky</li>
                <li>punky</li>
                <li>punky</li>
            </ul>
        </div>
        <div class="jm-f-block">
            <h4>test2</h4>
            <ul>
                <li>punky</li>
                <li>punky</li>
                <li>punky</li>
                <li>punky</li>
                <li>punky</li>
                <li>punky</li>
            </ul>
        </div>
        <div class="jm-f-block">
            <h4>test3</h4>
            <ul>
                <li>punky</li>
                <li>punky</li>
                <li>punky</li>
                <li>punky</li>
                <li>punky</li>
                <li>punky</li>
            </ul>
        </div>
    </div>
</div>