<div class="jm-layer" ></div>

<div class="navigation" id="navigation" >
	<div class="jm-layer nav-layer" ></div>

	<nav class="nav nav-pills page-width" >
		{% include jm_navigation.html %}
	</nav>
</div>

<div class="jm-preview">
	<div class="jumbotron page-width">
		<h1>Чат La Friend</h1>
		<p>Социальная сеть, общение в которой<br>
			представленно в виде чата</p>
		<p><a href="/projects/la-friend" class="btn btn-primary btn-lg" role="button">Узнать больше</a></p>
	</div>
</div>

<a name="content"></a>

<div class="jm-warp warp-button-to-content">
	<a href="#content"></a>
</div>

<div class="jm-layer2" ></div>
