<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active">

			<header class="jm-header" id="header" >
				<div class="jm-layer" ></div>

				<div class="jm-preview">
					<div class="jumbotron page-width">
						<h1>Чат La Friend</h1>
						<p>Социальная сеть, общение в которой<br>
							представленно в виде чата</p>
						<p><a href="/projects/la-friend" class="btn btn-primary btn-lg" role="button">Узнать больше</a></p>
					</div>
				</div>

				<div class="jm-layer2" ></div>
			</header>

		</li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="..." alt="...">
			<div class="carousel-caption">
				...
			</div>
		</div>
		...
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>
