<li{% if page.url == '/' %} class="active"{% endif %}>
	<a href="/">Главная</a>
</li>
<li{% if page.url contains '/about/' %} class="active"{% endif %}>
	<a href="/about">О нас</a>
</li>

<li class="dropdown hidden-xs hidden-sm{% if page.url contains '/posts'%} active{% endif %}{% if page.url contains '/archive' %} active{% endif %}">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Новости <b class="caret"></b></a>
	<ul class="dropdown-menu">
		<li role="presentation" class="dropdown-header"><span class="glyphicon glyphicon-star"></span> Важные новости</li>
		{% for post in site.posts %}
		{% if post.published and post.fixed%}
		<li style="max-width: 231px;">
			<a href="{{ post.url }}" style="white-space: nowrap; overflow: hidden; padding-right: 5px; text-overflow: ellipsis;">{{ post.title }}</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</li>


<li class="disabled{% if page.url contains '/projects' %} active{% endif %}">
	<a href="/projects" onclick="return false">Проекты</a>
</li>
