<li{% if page.url == '/' %} class="active"{% endif %}>
	<a href="/">Главная</a>
</li>
<li{% if page.url == '/about/' %} active"{% endif %}>
	<a href="/about">О нас</a>
</li>
<li class="hidden-xs hidden-sm{% if page.url contains '/posts' %} active{% endif %}">
	<a href="/#news">Новости</a>
</li>
<li class="hidden-xs hidden-sm{% if page.url == '/archive/' %} active{% endif %}">
	<a href="/archive">Архив</a>
</li>
<li{% if page.url contains '/projects' %} class="active"{% endif %}>
	<a href="/projects">Проекты</a>
</li>
<li class="hidden-xs hidden-sm" style="position: absolute; right: 0;">
	<a href="https://github.com/jm-organization/jm-organization.github.io" target="_blank">Src</a>
</li>
