<ul class="nav navbar-nav">
    <li{% if page.url == '/home/' %} class="active"{% endif %}>
        <a href="/home">Главная</a>
    </li>
    <li class="dropdown{% if page.url contains '/about/' %} active{% endif %}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">О нас <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/about">О нас</a></li>
            <li><a href="/about/contact">Контакты</a></li>
            <li class="divider"></li>
            <li role="presentation" class="dropdown-header">Сотрудники</li>
            {% for cw in site.data.projectteam %}
            <li><a href="/about/contact/{{ cw.co-worker }}.html">{{ cw.co-worker }}</a></li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="#" onclick="return false" class="disabled">Отзывы</a></li>
        </ul>
    </li>
    <li{% if page.url contains '/portfolio/' %} class="active"{% endif %}>
        <a href="/portfolio">Портфолио</a>
    </li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li><a href="https://github.com/jm-organization/jm-organization.github.io">Src</a></li>

    {% if false %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Действие</a></li>
            <li><a href="#">Другое действие</a></li>
            <li><a href="#">Что-то еще</a></li>
            <li class="divider"></li>
            <li><a href="#">Отдельная ссылка</a></li>
        </ul>
    </li>
    {% endif %}
</ul>