<nav class="navbar {% if site.data.settings.dark-theme %}navbar-inverse{% else %}navbar-default{% endif %}" role="navigation" style="border-radius: 0; margin-bottom: 0">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" onclick="return false" style="padding: 10px 10px">
				<img src="/assets/img/logotypes/brand-name_logotype.png" height="30px">
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				{% include jm_navigation.html %}
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://github.com/jm-organization/jm-organization.github.io" target="_blank">Src</a></li>
			</ul>
		</div>
	</div>
</nav>

