<div class="jm-sidebar panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-home"></span> JM Organization</div>

    <div class="panel-body text-justify">
        <strong>JM Organization</strong> <em>- открытая украинская организация. рганизация занимаеться различными видами web-разработок. На данный момент мы разрабатываем проект под названием: "Социальная сеть La Friend".</em>
    </div>

    <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> Git Hub</li>
    </ul>
</div>