<div class="jm-sidebar">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-home"></span> Поиск</div>

        <div class="panel-body text-center">
            <form class="navbar-form navbar-left" id="search-form">
                <fieldset{% if site.data.settings.search-news == false %} disabled{% endif %}>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" id="query" class="form-control" placeholder="Начните вводить слово...">

                        <div class="input-group-btn">
                            <button type="submit" id="search" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Быстрый поиск новостей по заголовку и содержанию"><span class="glyphicon glyphicon-search"></span></button>

                            <button type="button" class="btn btn-default dropdown-toggle{% unless site.data.settings.search-with-filters %} disabled{% endunless %}" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">Действие</a></li>
                                <li><a href="#">Другое действие</a></li>
                                <li><a href="#">Что-то иное</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Отдельная ссылка</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-home"></span> JM Organization</div>

        <div class="panel-body text-center">
            <p><strong>JM Organization</strong> <em>- открытая украинская организация, занимающаяся различными видами web-разработок.</em></p>
            <p>Официальный портал JM организации. Последние новости и описание наших проектов. Поможем в реализации сайта, программы. Также помогаем с созданием серверов Minecraft. Исправляем проблем в работе модификаций для Minecraft</p>
        </div>

        <ul class="list-group">
            {% capture settings %}{{ site.data.settings }}{% endcapture %}

            <li class="{% if site.data.settings.about-disable %}disabled{% endif %}{% if page.url contains '/j-programs/about/' %} active{% endif %}">
                <a href="/j-programs/about" {% if site.data.settings.about-disable %}onclick="return false"{% endif %}>О нас</a>
            </li>

            <li class="{% if site.data.settings.service-disable %}disabled{% endif %}{% if page.url contains '/j-programs/services' %} active{% endif %}">
                <a href="/j-programs/services" {% if site.data.settings.service-disable %}onclick="return false"{% endif %}><span class="glyphicon glyphicon-tags" style="padding-right: 9px;"></span>Услуги</a>
            </li>

            <li class="{% if site.data.settings.portfolio-disable %}disabled{% endif %}{% if page.url contains '/j-programs/portfolio' %} active{% endif %}">
                <a href="/j-programs/portfolio" {% if site.data.settings.portfolio-disable %}onclick="return false"{% endif %}>Портфолио</a>
            </li>

            {% for sw in site.data.contacts.social-webs %}
            {% if sw.href != '' %}
            <li class="list-group-item">
                <span class="glyphicon glyphicon-link"
                      style="padding-right: 7px; border-right: 1px solid #dddddd; margin-right: 7px"
                      data-toggle="tooltip" data-placement="top"
                      title='Открыть страницу {{ sw.title }} {{ sw.prefix }} "{{ sw.abbr-title }}"'
                ></span>
                <a href="{{ sw.href }}" target="_blank">{{ sw.abbr-title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    {% if site.data.settings.vk-widget-supports and site.data.settings.vk-widgets.groups %}
    <!-- VK Widget -->
    <div id="vk_groups"></div>
    {% endif %}
</div>
