---
layout: body-service-layout
title: Услуги
---

<div class="jm-services">
    <div id="carousel-example-generic" class="jm-s-carusel carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for caption in site.data.services %}
            {% if caption.fixed %}
            <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.index0 }}" class="{% if caption.fixed-state and caption.fixed-state == 'active' %}active{% endif %}"></li>
            {% endif %}
            {% endfor %}
        </ol>

        <div class="carousel-inner">
            {% for caption in site.data.services %}
            {% if caption.fixed %}
            <div class="item{% if caption.fixed-state and caption.fixed-state == 'active' %} active{% endif %}">
                <div class="img" style="background-image: url(/assets/img/background-picture/services/{{ caption.id }}.png)"></div>
                <div class="carousel-caption">
                    <h3>{{ caption.service }}</h3>
                    <div class="btn-group dropup" style="padding-bottom: 5px; text-shadow: none">
                        <a class="btn btn-success" href="#{{ caption.id }}">Подробнее</a>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Меню с переключением</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Заказать</a></li>
                            <li class="divider"></li>
                            <li role="presentation" class="dropdown-header">Цена</li>
                            <li><a href="#">Стоимость услуги: {{ caption.price }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <div class="jm-s-services">
        <div class="page-width">
            <div class="page-content">
                {% for caption in site.data.services %}
                <div id="{{ caption.id }}" class="jm-caption">
                    <div class="jm-c-info">
                        <h3>{{ caption.service }}</h3>
                        <p>{{ caption.info }}</p>
                        <div class="btn-group">
                            <a type="button" class="btn btn-success" href="#{{ caption.id }}-modale" data-toggle="modal" data-target="#{{ caption.id }}-modale">Заказать</a>
                            <div class="btn btn-default"
                                 data-toggle="tooltip"
                                 data-placement="right"
                                 title="Стоимость услуги: {{ caption.price }}"
                            >{{ caption.price }}</div>
                        </div>
                    </div>
                    <div class="jm-c-image">
                        <img src="/assets/img/background-picture/services/small_bg-{{ caption.id }}.png" alt="{{ caption.service }}" class="img-thumbnail">
                    </div>

                    <div class="modal fade" id="{{ caption.id }}-modale" tabindex="-1" role="dialog" aria-labelledby="{{ caption.id }}-modaleLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="{{ caption.id }}-modaleLabel">
                                        <span class="text-muted" style="padding-right: 5px">Заказ:</span>
                                        <input type="text" placeholder="Тема вашего заказа" name="theme-order" id="order-theme">
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <textarea name="content-order" id="content-theme"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Заказать</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>