---
layout: body-sample
title: О нас
---

<div class="jm-about">
    <!-- О компании -->
    <div class="jm-a-company">
        <h3>Об организации</h3>
        <p>  
            Мы начали свою работу с конца <i>2016 года</i>. За это время у нас появилось множество мелких наработок и большой опыт.
            Поэтому у нас появилось решение приняться за реализацию проекта, который требует очень чётких и одновременно продуманых действий.
            Для этого потребовалось создать мелкую организацую, занимающуюся проектом "<b>Социальная сеть La Friend</b>"
        </p>

        <h3>Социальная сеть La Friend</h3>
        <p>
            Это проект, который появился раньше, чем сама организация. Говорить о нём особо не стоит, это социальная сеть.
            Больше информации вы можете узнать на странице проекта: <a data-href="404 - Project not found">La Friend</a>
        </p>

        <h3>Сотрудники</h3>
        <p>
            Организация ещё так молода, проект ещё только находится в анонсе, а команда сотрудников уже нужна сейчас...
            На данный момент команда состоит из нижеперечисленных людей, по графику видно, что это <i>80% из того персонала, который нужен для старта</i>.
        </p>
    </div>

    {% capture max_collaborators %}10{% endcapture %}
    {% capture min_collaborators %}1{% endcapture %}
    {% capture require_collaborators %}4{% endcapture %}
    {% capture value_now %}{{ site.data.projectteam | size }}{% endcapture %}

    {% capture now_precept %}{{ value_now | times: 100 }}{% endcapture %}
    {% capture progress_now %}{{ now_precept | divided_by: max_collaborators }}{% endcapture %}

    {% capture require_precept %}{{ require_collaborators | times: 100 }}{% endcapture %}
    {% capture progress_require %}{{ require_precept | divided_by: max_collaborators }}{% endcapture %}

    <div class="progress">
        <div class="progress-bar progress-bar-success"
             data-role="progress-now"
             style="width: {{ progress_now }}%"
             data-toggle="tooltip"
             data-placement="top"
             title="На данный момент всего {{ progress_now }}% сотрудников или ({{ value_now }}) человека."
        ><span class="sr-only">{{ progress_now }}%/{{ progress_require }}%</span></div>

        <div class="progress-bar progress-bar-info"
             data-role="progress-require"
             style="width: {{ progress_require | minus: progress_now }}%"
             data-toggle="tooltip"
             data-placement="top"
             title="Нужно {{ progress_require }}% от общего количества ({{ max_collaborators }}) чтобы началась работа."
        ><span class="sr-only">Нужно {{ progress_require }}% из ({{ max_collaborators }}) сотрудников.</span></div>
    </div>

    <!-- Сотрудники -->
    <div class="jm-a-co-workers">
        <div class="jm-a-line"></div>
        <div class="jm-a-collaborators" id="accordion">
            {% for cw in site.data.projectteam %}
            <div class="jm-a-collaborator" id="{{ cw.co-worker }}">
                <div class="jm-ac-date" data-toggle="tooltip" data-placement="bottom" title="В компании с">{{ cw.date-of-adopted }}</div>
                <div class="jm-ac-co-worker">
                    <div class="jm-acc-min-info">
                        <img src="/assets/img/co-worker-avatars/{{ cw.co-worker }}.png" width="56px" height="56px">
                        <h3>{{ cw.co-worker }} {% if cw.first-name %}({{ cw.first-name }}{% if cw.second-name %} {{ cw.second-name }}{% endif %}){% endif %}<small id="position">{{ cw.position }}</small></h3>
                    </div>
                    {% if site.hidecollaboratorinfo %}
                    <div class="jm-acc-open-more-info" data-toggle="tooltip" data-placement="top" title="Больше информации">
                        <a class="accordion-collaborator" data-toggle="collapse" data-parent="#accordion" href="#{{ cw.co-worker }}Info"></a>
                    </div>
                    {% endif %}
                </div>
                <div class="jm-ac-cinfo" style="padding-top: 2px">
                    <div class="panel-collapse collapse in" id="{{ cw.co-worker }}Info">
                        {% if cw.info.web-sites %}
                        <p class="web-sites" data-ws='{{ cw.info.web-sites }}'></p>
                        {% endif %}
                        <p id="base-info" data-bi="{}"></p>

                        {% if cw.other-names %}
                        <p class="other-names" data-on='{{ cw.other-names }}'>Также известен, как: </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="jm-a-our-goals">{% include about/our_goals.html %}</div>

    <!-- Статистика -->
    <div class="jm-a-statistics">{% include about/statistics.html %}</div>
</div>
