/* Sample */
li {
	list-style: none;
}

/* Page */
.page-width {
	width: 92%;
	margin: 0 auto;
}

/* Header */
.jm-header {
	position: relative;
	height: 530px;
	width: 100%;
	background:  #929292  url("https://jm-organization.github.io/assets/img/background-picture/header1.png") no-repeat center 0;
	border-bottom: 2px solid #929292;
}

.jm-header .jm-navigation-bar {
	position: relative;
	height: inherit;
	width: inherit;
	background: transparent;
}

.jm-header .jm-navigation-bar .navigation {
	position: absolute; 
	bottom: 2px;
	left: 0;
	width: inherit;
	height: 38px;
	background: inherit;
	border-top: 1px solid transparent;
}

.jm-header .jm-navigation-bar .navigation nav li {
	line-height: 38px; 
	font-size: 18px;
	padding: 0 7px;
    display: inline-block;
    float: left;
}

