/* Sample */
body {
  background: white; }

@media (max-width: 728px) {
  section {
    padding-top: 18px; } }

footer {
  margin-bottom: 48px;
  width: 100%; }
  footer .page-width .jm-f-logo {
    max-width: 412px;
    display: inline-block;
    margin-bottom: 42px; }
    @media (max-width: 728px) {
      footer .page-width .jm-f-logo {
        margin-top: 25px;
        min-width: 100%;
        width: 100%; } }
    footer .page-width .jm-f-logo img {
      float: left; }
      @media (max-width: 728px) {
        footer .page-width .jm-f-logo img {
          width: 96px; } }
    footer .page-width .jm-f-logo .jm-f-about {
      max-width: 58%;
      padding: 35px 0;
      display: inline-block;
      margin: 0 0 0 12px;
      height: 100%; }
      @media (max-width: 728px) {
        footer .page-width .jm-f-logo .jm-f-about {
          padding: 15px 0;
          max-width: 65%;
          margin-left: 5px; } }
      footer .page-width .jm-f-logo .jm-f-about h4 {
        width: 100%;
        padding: 0;
        margin: 0;
        display: inline-block; }
        footer .page-width .jm-f-logo .jm-f-about h4 small {
          display: block; }
      footer .page-width .jm-f-logo .jm-f-about .jm-f-contacts {
        display: inline-block; }
        footer .page-width .jm-f-logo .jm-f-about .jm-f-contacts ul {
          margin: 5px 0 0;
          padding: 0 !important; }
          footer .page-width .jm-f-logo .jm-f-about .jm-f-contacts ul li {
            list-style: none; }
          footer .page-width .jm-f-logo .jm-f-about .jm-f-contacts ul li > span {
            padding-right: 5px;
            line-height: 22px;
            font-size: 17px;
            font-weight: bold;
            float: left; }
          footer .page-width .jm-f-logo .jm-f-about .jm-f-contacts ul li > a {
            line-height: 22px;
            display: inline-block;
            float: left;
            color: #2e2e2e; }
  footer .page-width .jm-f-blocks {
    display: inline-table;
    width: calc(100% - 412px);
    float: right;
    height: 180px; }
    @media (max-width: 728px) {
      footer .page-width .jm-f-blocks {
        width: 100%;
        float: left; } }
    footer .page-width .jm-f-blocks .jm-f-block {
      display: table-cell;
      padding: 5px 9px;
      margin-bottom: 25px;
      height: inherit; }
      footer .page-width .jm-f-blocks .jm-f-block ul {
        padding-left: 0 !important; }
        footer .page-width .jm-f-blocks .jm-f-block ul li {
          list-style: none; }

.jm-warp {
  position: absolute;
  width: 100%; }
  .jm-warp.warp-button-to-content {
    bottom: 0;
    height: 40px;
    background: transparent;
    z-index: 5;
    padding: 5px 0;
    background: linear-gradient(to top, #e2e2e2, transparent); }
  .jm-warp.warp-button-to-top {
    position: fixed !important;
    bottom: 0;
    height: 42px;
    background: transparent;
    z-index: 5;
    padding: 7px 0; }
  .jm-warp a[data-href="@content"], .jm-warp a[data-href="@to-top"] {
    width: 30px;
    height: 100%;
    margin: 0 auto;
    background: transparent;
    border: 2px solid #424242;
    border-radius: 50%;
    line-height: 30px;
    color: #424242;
    display: block;
    font-size: 19px;
    padding: 1px 3px 0;
    cursor: pointer; }

/* Page */
.page-width {
  width: 92%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0 48px 0;
  display: flex;
  /* About */ }
  @media (max-width: 728px) {
    .page-width {
      width: 95%;
      margin: 0 auto 48px;
      padding: 0;
      display: flex; } }
  .page-width .page-content {
    width: calc(100% - 265px);
    height: auto;
    display: inline-block; }
    @media (max-width: 728px) {
      .page-width .page-content {
        width: 100%;
        height: auto;
        float: left; } }
    .page-width .page-content .jm-page-title, .page-width .page-content .jm-comments .jm-comments-title, .page-width .page-content .jm-a-title {
      position: relative;
      text-transform: uppercase; }
      .page-width .page-content .jm-page-title h1, .page-width .page-content .jm-comments .jm-comments-title h1, .page-width .page-content .jm-a-title h1 {
        margin-top: 5px;
        text-align: center; }
    .page-width .page-content .jm-a-title {
      margin-bottom: 9px; }
    .page-width .page-content article {
      margin-bottom: 15px; }
      .page-width .page-content article .jm-a-header {
        display: flex;
        width: 100%;
        height: auto;
        margin-bottom: 7px; }
        .page-width .page-content article .jm-a-header .jm-ah-picture {
          width: 61px;
          padding-right: 5px;
          display: inline-block;
          height: 100%;
          float: left; }
          .page-width .page-content article .jm-a-header .jm-ah-picture img {
            border: 1px solid #e2e2e2;
              border-radius: 50%;
            padding: 3px; }
        .page-width .page-content article .jm-a-header .jm-ah-header {
          display: inline;
          float: left;
          padding-bottom: 3px;
          margin: 0; }
      @media (max-width: 728px) {
        .page-width .page-content article {
          width: inherit;
          margin-bottom: 9px; }
          .page-width .page-content article h2 {
            margin: 0 0 8px; }
          .page-width .page-content article ul.pager {
            margin-bottom: 0; } }
      .page-width .page-content article .jm-a-category {
        margin: 0; }
    .page-width .page-content .jm-article {
      text-align: justify; }
      .page-width .page-content .jm-article p {
        margin-bottom: 30px; }
        .page-width .page-content .jm-article p img {
          width: 100%;
          max-height: 280px;
          height: auto;
          cursor: pointer;
          margin-bottom: 15px; }
        .page-width .page-content .jm-article p h3 {
          text-align: left;
          font-weight: bold; }
    .page-width .page-content .jm-social-sender {
      display: block;
      margin-bottom: 15px;
      height: auto; }
      .page-width .page-content .jm-social-sender [class^="jm-ss-"],
      .page-width .page-content .jm-social-sender [class*=" jm-ss-"] {
        display: inline-block;
        padding-right: 6px; }
      .page-width .page-content .jm-social-sender .jm-ss-vk a {
        padding-bottom: 3px !important; }
    .page-width .page-content .jm-comments .jm-comments-title {
      margin-top: 35px; }
      .page-width .page-content .jm-comments .jm-comments-title .jm-pager {
        margin: 15px 0; }
        .page-width .page-content .jm-comments .jm-comments-title .jm-pager li.jm-comments-title {
          position: absolute;
          width: 100%;
          left: 0;
          height: 32px;
          line-height: 32px;
          font-size: 32px;
          z-index: -1;
          margin: 0 !important; }
          @media (max-width: 728px) {
            .page-width .page-content .jm-comments .jm-comments-title .jm-pager li.jm-comments-title {
              position: relative;
              padding: 9px; } }
    .page-width .page-content .jm-pagination {
      text-align: center; }
  .page-width .jm-sidebar {
    width: 250px;
    float: right;
    margin-left: 15px;
    height: auto; }
    @media (max-width: 728px) {
      .page-width .jm-sidebar {
        display: none; } }
  .page-width .jm-about, .page-width .jm-services, .page-width .jm-a-co-workers {
    position: relative; }
    .page-width .jm-about .jm-a-line, .page-width .jm-services .jm-a-line, .page-width .jm-a-co-workers .jm-a-line {
      width: 3px;
      margin: 0 12px;
      height: 100%;
      position: absolute;
      z-index: -1;
      left: 116px;
      background: linear-gradient(to top, #e2e2e2 88%, white); }
      @media (max-width: 728px) {
        .page-width .jm-about .jm-a-line, .page-width .jm-services .jm-a-line, .page-width .jm-a-co-workers .jm-a-line {
          left: 56px; } }
      .page-width .jm-about .jm-a-line:before, .page-width .jm-services .jm-a-line:before, .page-width .jm-a-co-workers .jm-a-line:before {
        position: absolute;
        z-index: 1;
        left: -6px;
        bottom: -6px;
        content: "";
        width: 15px;
        height: 15px;
        border: 6px solid white;
          border-radius: 50%;
        background: #e2e2e2; }
      .page-width .jm-about .jm-a-line:after, .page-width .jm-services .jm-a-line:after, .page-width .jm-a-co-workers .jm-a-line:after {
        content: "";
        position: absolute;
        z-index: 2;
        left: -6px;
        bottom: -6px;
        width: 15px;
        height: 15px;
        background: transparent;
        border: 3px solid #e2e2e2;
          border-radius: 50%;
        padding: 3px; }
    .page-width .jm-about .jm-a-collaborators, .page-width .jm-services .jm-a-collaborators, .page-width .jm-a-co-workers .jm-a-collaborators {
      position: relative;
      width: 100%;
      display: inline-block; }
      .page-width .jm-about .jm-a-collaborators .jm-a-collaborator, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator {
        margin-top: 15px; }
      .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-date, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-date, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-date {
        position: relative;
        width: 116px;
        display: inline-block;
        text-align: right;
        float: left;
        line-height: 25px; }
        @media (max-width: 728px) {
          .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-date, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-date, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-date {
            width: 56px; } }
        .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-date:after, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-date:after, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-date:after {
          position: absolute;
          z-index: 1;
          right: -21px;
          top: 4px;
          content: "";
          width: 15px;
          height: 15px;
          border: 6px solid white;
            border-radius: 50%;
          background: #e2e2e2; }
      .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-date, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-date, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-date {
        height: 26px;
        padding: 15.5px 0; }
        .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-date:after, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-date:after, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-date:after {
          top: 21px; }
      .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker {
        position: relative;
        display: inline-block;
        padding-left: 24px;
        line-height: 25px;
        font-size: 23px;
        float: left; }
        @media (max-width: 728px) {
          .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker {
            word-wrap: break-word;
            width: calc(100% - 56px) !important; } }
        .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker:before, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker:before, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker:before {
          content: "";
          position: absolute;
          z-index: 2;
          left: 6px;
          top: 4px;
          width: 15px;
          height: 15px;
          background: transparent;
          border: 3px solid #e2e2e2;
            border-radius: 50%;
          padding: 3px; }
      .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker {
        position: relative;
        width: calc(100% - 143px); }
        .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker:before, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker:before, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker:before {
          top: 21px; }
        .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-min-info, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-min-info, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-min-info {
          display: flex; }
        .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-min-info > img, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-min-info > img, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-min-info > img {
          float: left;
          margin-right: 9px;
          border-radius: 50%;
          padding: 4px;
          border: 1px solid #e2e2e2;
          width: 56px; }
        .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-min-info > h3, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-min-info > h3, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-min-info > h3 {
          float: left;
          margin: 7.5px 0;
          width: calc(100% - 56px); }
          @media (max-width: 728px) {
            .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-min-info > h3, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-min-info > h3, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-min-info > h3 {
              display: inline-block;
              width: calc(100% - 65px);
              float: right;
              font-size: 16px; } }
          .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-min-info > h3 small, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-min-info > h3 small, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-min-info > h3 small {
            width: 100%;
            display: block; }
        .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-open-more-info > .accordion-collaborator, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-open-more-info > .accordion-collaborator, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-open-more-info > .accordion-collaborator {
          position: absolute;
          height: 48px;
          width: 48px;
          right: 0;
          margin: 8px;
          border-radius: 4px; }
          .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-open-more-info > .accordion-collaborator:hover, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-open-more-info > .accordion-collaborator:hover, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-open-more-info > .accordion-collaborator:hover {
            background: #e2e2e2; }
          .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-open-more-info > .accordion-collaborator:before, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-open-more-info > .accordion-collaborator:before, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-co-worker .jm-acc-open-more-info > .accordion-collaborator:before {
            position: absolute;
            content: "";
            width: 9px;
            height: 9px;
            border-right: 1px solid #666666;
            border-bottom: 1px solid #666666;
            transform: rotate(45deg);
            top: 19px;
            left: 19px;
            display: inline-block; }
      .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-cinfo, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-cinfo, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-cinfo {
        display: inline-block;
        margin-left: 143px;
        padding-top: 9px;
        width: calc(100% - 143px); }
        @media (max-width: 728px) {
          .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-cinfo, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-cinfo, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-cinfo {
            margin-left: 83px; } }
      .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-cinfo, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-cinfo, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-cinfo {
        margin-left: 207px;
        width: calc(100% - 207px); }
        .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-cinfo .other-names, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-cinfo .other-names, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-cinfo .other-names {
          border-top: 1px solid #efefef;
          padding-top: 6px; }
        @media (max-width: 728px) {
          .page-width .jm-about .jm-a-collaborators .jm-a-collaborator > .jm-ac-cinfo, .page-width .jm-services .jm-a-collaborators .jm-a-collaborator > .jm-ac-cinfo, .page-width .jm-a-co-workers .jm-a-collaborators .jm-a-collaborator > .jm-ac-cinfo {
            margin-left: 83px; } }

/* Services */
.jm-services .jm-s-carusel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 253px; }
  .jm-services .jm-s-carusel .carousel-inner .item .img {
    width: 100%;
    height: 253px;
    background: no-repeat center; }
.jm-services .jm-s-services {
  width: 100%;
  height: auto;
  padding-top: 27px;
  padding-bottom: 48px;
  border: 1px solid #e2e2e2; }
  .jm-services .jm-s-services .page-width {
    padding: 0; }
    .jm-services .jm-s-services .page-width .page-content {
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
      display: block; }
      .jm-services .jm-s-services .page-width .page-content .jm-caption {
        margin-bottom: 15px;
        width: 100%;
        position: relative;
        display: flex; }
        @media (max-width: 728px) {
          .jm-services .jm-s-services .page-width .page-content .jm-caption {
            display: inline-block;
            float: left;
            text-align: center;
            margin-bottom: 37px; } }
        .jm-services .jm-s-services .page-width .page-content .jm-caption .jm-c-info {
          width: calc(100% - 180px);
          display: inline-block;
          float: left; }
          .jm-services .jm-s-services .page-width .page-content .jm-caption .jm-c-info h3 {
            margin-top: 2px; }
            @media (max-width: 728px) {
              .jm-services .jm-s-services .page-width .page-content .jm-caption .jm-c-info h3 {
                margin-top: 7px; } }
          .jm-services .jm-s-services .page-width .page-content .jm-caption .jm-c-info .btn-group {
            width: 100%; }
            @media (max-width: 728px) {
              .jm-services .jm-s-services .page-width .page-content .jm-caption .jm-c-info .btn-group {
                width: auto; } }
          @media (max-width: 728px) {
            .jm-services .jm-s-services .page-width .page-content .jm-caption .jm-c-info {
              width: 100%;
              display: block;
              float: left; } }
        .jm-services .jm-s-services .page-width .page-content .jm-caption .jm-c-image-pc {
          width: 168px;
          margin-left: 12px;
          display: inline-block;
          float: right; }
        .jm-services .jm-s-services .page-width .page-content .jm-caption .jm-c-image-phone {
          width: 100%;
          margin: 0;
          display: block;
          float: left; }
.jm-services .jm-terms-of-use {
  line-height: 14px; }
  .jm-services .jm-terms-of-use label > input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 0; }
  .jm-services .jm-terms-of-use .jm-open-cosoo {
    margin-top: 15px;
    margin-bottom: 5px;
    display: none; }

/*# sourceMappingURL=main.css.map */
