@import "variables"

/* Sample */
body
  background: $baseColor

section
  @media (max-width: 728px)
    padding-top: 48px

footer
  margin-bottom: 48px
  width: 100%

/*
 * @jmorgui
 * JMORG USER INTERFACE
 * by @Magicfar4 (https://vk.com/jmagicmen)
 */
.jmorgui-button
  display: inline-block
  margin-bottom: 0
  font-weight: 400
  text-align: center
  vertical-align: middle
  cursor: pointer
  background-image: none
  border: $heavyBorder transparent
  white-space: nowrap
  padding: 6px 12px
  font-size: 14px
  line-height: 1.42857143
  border-radius: 0
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  outline: none
  background: transparent
.btn-white
  border-color: $baseColor!important
  &:hover
    background: rgba(255, 255, 255, 0.1)
  &:active, &:focus
    background: $baseColor

.jmorgui-image
  background: $canvasColor no-repeat center 0
.image-jm-organization
  background-image: url(/assets/img/jm-background.png)
