@import "variables"

/* Sample */
body
  background: $baseColor

li
  list-style: none

.jm-layer
  position: absolute
  top: 0
  z-index: 4
  height: inherit
  width: inherit
  background: $baseColor
  opacity: 0
  &.nav-layer
    position: absolute
    z-index: $maxZIndex - 1

.jm-layer2
  position: absolute
  width: 100%
  &.to-top
    background: linear-gradient(to top, #ffffff, transparent)
  &.to-bottom
    background: linear-gradient(to bottom, #ffffff, transparent)


/* Header */
.navigation
  position: fixed
  top: 0
  width: $width
  height: $menuHeight
  padding: 4px 0
  background: transparent
  z-index: $maxZIndex

  nav
    position: relative
    padding: 0 4px
    z-index: $maxZIndex - 1

.carousel-indicators li
  border-color: $mediumDarkSupportColor!important

.jm-header
  position: relative
  height: auto
  width: 100%
  display: inline-table
  //border-bottom: 2px solid #929292

  .carousel-control
    z-index: 14
    &.right, &.left
      background: transparent!important
    &.right
      left: auto
      right: 0

  .carousel-inner > .item
    .jm-layer2.to-bottom
      top: 0
      height: 100px
    .jm-layer2.to-top
      bottom: 0
      height: 320px
    div[data-role="img"]
      background: $supportColor no-repeat center 0
      height: $headerHeight
      width: 100%
    .text
      color: $mediumTextColor

.jm-warp
  position: absolute
  width: $width
  &.warp-button-to-content
    bottom: 0
    height: $menuHeight - 8px
    background: transparent
    z-index: 5
    padding: 5px 0
    background: linear-gradient(to top, $supportColor, transparent)
    border-bottom: $heavyBorder $_mediumSupportColor
  &.warp-button-to-top
    position: fixed!important
    bottom: 0
    height: $menuHeight - 6px
    background: transparent
    z-index: 5
    padding: 7px 0
  a[data-href="@content"], a[data-href="@to-top"]
    width: $menuHeight - 18px
    height: 100%
    margin: 0 auto
    background: transparent
    border: $heavyBorder $darkColor
    border-radius: 50%
    line-height: $menuHeight - 18px
    color: $darkColor
    display: block
    font-size: 19px
    padding: 0 3px
    cursor: pointer

/* Page */
.page-width
  width: $pageWidth
  margin: 0 auto
  max-width: $maxWidth

  .page-content
    width: calc(100% - 265px)
    height: auto
    display: inline-block
    float: left

    .jm-page-title
      position: relative
      text-transform: uppercase
      h1
        text-align: center

    article
      padding: 24px
      border-radius: 24px
      border: $standardBorder $supportColor
      margin-bottom: 15px

    .jm-comments-title
      @extend .jm-page-title
      margin-top: 35px

      .jm-pager
        margin: 15px 0
        li.jm-comments-title
          position: absolute
          width: 100%
          left: 0
          height: 32px
          line-height: 32px
          font-size: 32px
          z-index: -1
          margin: 0!important

    .jm-pagination
      text-align: center

  .jm-sidebar
    width: 250px
    float: left
    margin: 20px 0 0 15px
    height: auto