
<h3>О организации</h3>
<p>  
  Мы начали свою работу с конца 2016 года. За это время у нас появилось множество мелких наработок и большой опыт.
  По этому мы у нас появилось решение приняться за реализщацию проекта, который требeет очень чётких и одновременно верных действий.
  Для этого потребовалось создать мелкую организацую, занимающуюся проектом "Социальная сеть La Friend"
</p>

<h3>Социальная сеть La Friend</h3>
<p>
  Это проект, который появился раньше, чем сама организация. Говорить о нём особо не стоит. Это социальная сеть.
</p>

<h3>Сотрудники</h3>
<p>
  Организация ещё так молода, проект ещё только находиться в анонсе, а команда сотрудников уже нужна сейчас...
</p>
