<!DOCTYPE HTML>
<html xml:lang="ru" lang="ru">
	<head>
		<title>{% if page.title %}{{ page.title }} | {% endif %}JM Organization - Организация WEB и Прикладных разработок</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="author" content="Magicmen">
		<meta name="description" content="Официальный портал JM организации. Последние новости и описание наших проектов. Поможем в реализации сайта, программы. Также помогаем с созданием серверов Minecraft. Исправляем проблем в работе модификаций для Minecraft">
		<meta name="keywords" content="minecraft, майнкрафт, маинкрафт, минекрафт, создать сервер minecraft, создать сервер minecraft с модами, создать сайт, создать программу, поднять сервера, сделать сервер, сделать сайт, как программировать сайт, создание новостных блогов, создание новостных порталов, создать портал, создать блог">

		<meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}JM Organization - Организация WEB и Прикладных разработок">
		<meta property="og:type" content="website">
		<meta property="og:image" content="https://jm-org.net/favicon.ico">
		<meta property="og:image:type" content="image/png">
		<meta property="og:url" content="https://jm-org.net/">
		<meta property="og:description" content="Официальный портал JM организации. Последние новости и описание наших проектов. Поможем в реализации сайта, программы. Также помогаем с созданием серверов Minecraft. Исправляем проблем в работе модификаций для Minecraft">

		{% include jm_links.html %}

		<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/e3daba7352a58210540fa9c40/b1fa4e81bedd6f2e816fc999b.js");</script>
	</head>
	<body{% if page.url == '/test/' %} style="overflow: hidden;"{% endif %}>
		<!-- Facebook robot -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.9";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<!-- Nav-bar -->
		{% include jm_header.html %}

		<!-- Page-content -->
		{{ content }}

		<!-- Footer -->
		<footer {% if site.data.settings.dark-theme %}
				style="
					background: #222222;
					border: 1px solid transparent;
					border-color: #080808;
					margin: 0;
					padding-bottom: 56px;
				"
				{% endif %}
				{% if page.url == '/services/' %}
				style="
					background: #f8f8f8;
					margin: 0;
					padding-bottom: 56px;
				"
				{% endif %}
		>{% include jm_footer.html %}</footer>

		<div class="jm-warp warp-button-to-top">
			<a data-href="@to-top" data-toggle="tooltip" data-placement="top" title="Наверх"><span class="glyphicon glyphicon-arrow-up"></span></a>
		</div>

		{% if site.data.settings.vk-widget-supports and site.data.settings.vk-widgets.community_messages %}
		<!-- VK Widget -->
		<div id="vk_community_messages"></div>
		{% endif %}

		<!-- Body-sripts -->
		{% include jm_inline_script.html %}

		{% if site.data.settings.vk-widget-supports %}
		<!-- Body-sripts::vk_scripts -->
		<script type="text/javascript" src="//vk.com/js/api/openapi.js?146"></script>

		{% if site.data.settings.vk-widgets.community_messages %}
		<script type="text/javascript" id="community_messages">
			VK.Widgets.CommunityMessages(
					"vk_community_messages", 149345104, {
						disableExpandChatSound: "1",
						disableNewMessagesSound: "1"
					}
			);
		</script>
		{% endif %}

		{% if site.data.settings.vk-widgets.groups %}
		<script type="text/javascript" id="groups">
			VK.Widgets.Group(
					"vk_groups", {
						mode: 3,
						width: "250",
						color3: '428BCA'},
					149345104
			);
		</script>
		{% endif %}
		{% endif %}

		<!-- Body-sripts::google_analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-75991602-2', 'auto');
		  ga('send', 'pageview');

		</script>
	</body>
</html>
