<!DOCTYPE HTML>
<html xml:lang="ru" lang="ru">
	<head>
		<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.data.routs.jmorg.home.title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}JM Organization - Организация WEB-разработок">
		<meta property="og:type" content="website">
		<meta property="og:image" content="https://jm-organization.github.io/favicon.ico">
		<meta property="og:image:type" content="image/png">
		<meta property="og:url" content="https://jm-organization.github.io/">
		<meta property="og:description" content="Оффициальный портал JM органицации. Последние новости и описание наших проектов.">
		
		{% include jm_links.html %}
	</head>
	<body>
		{{ content }}

		{% include jm_inline_script.html %}
	</body>
</html>
