<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% if page.title %}{{ page.title }} | {% endif %}JM Organization</title>
		
		{% include jm_links.html %}
	</head>
	<body>
		<div class="navigation" id="navigation" >
			<div class="jm-layer nav-layer"{% if page.url != '/' %} style="opacity: 1"{% endif %}></div>

			<nav class="nav nav-pills page-width" >
				{% include jm_navigation.html %}
			</nav>
		</div>

		{% if page.url == '/' %}
			{% include jm_header.html %}
		{% endif %}

		<section{% if page.url != '/' %} style="padding-top: 48px"{% endif %}>
			<div class="page-width">
				<div class="page-content" data-name="content">
					{% if page.title %}
					<h1>{{ page.title }}</h1>
					<hr class="small-devider">
					{% endif %}

					{{ content }}
				</div>

				{% include jm_sidebar.html %}
			</div>
		</section>
		
		<footer>{% include jm_footer.html %}</footer>

		<div class="jm-warp warp-button-to-top">
			<a data-href="@to-top" data-toggle="tooltip" data-placement="top" title="Наверх"><span class="glyphicon glyphicon-arrow-up"></span></a>
		</div>

		{% include jm_inline_script.html %}
	</body>
</html>