<!DOCTYPE HTML>
<html xml:lang="ru" lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% if page.title %}{{ page.title }} | {% endif %}JM Organization</title>
		
		{% include jm_links.html %}
	</head>
	<body>
		{% include jm_header.html %}

		<section{% if page.url != '/' %} style="padding-top: 48px"{% endif %}>
			<div class="page-width">
				<div class="page-content" data-name="content">
					{% if page.title %}
					<div class="jm-page-title">
						<h1>{{ page.title }}</h1>
					</div>
					<hr class="small-devider">
					{% endif %}

					{{ content }}
				</div>

				{% include jm_sidebar.html %}
			</div>
		</section>
		
		<footer>{% include jm_footer.html %}</footer>

		<div class="jm-warp warp-button-to-top">
			<a data-href="@to-top" data-toggle="tooltip" data-placement="top" title="Наверх"><span class="glyphicon glyphicon-arrow-up"></span></a>
		</div>
		
		<!-- VK Widget -->
		<div id="vk_community_messages"></div>

		{% include jm_inline_script.html %}
		
		<script type="text/javascript" src="//vk.com/js/api/openapi.js?146"></script>
		<script type="text/javascript">
		VK.Widgets.CommunityMessages("vk_community_messages", 149345104, {disableExpandChatSound: "1",disableNewMessagesSound: "1",tooltipButtonText: "Є питання?"});
		</script>
	</body>
</html>
