---
layout: body-sample
title: page.title
---

<div class="jm-article">
    {% if page.title %}
    <div class="jm-a-title">
        <h1>{{ page.title }}</h1>
    </div>
    {% endif %}
    {{ content }}
</div>

{% if site.comments %}
<div class="jm-comments">
    <div class="jm-comments-title">
        <ul class="jm-pager pager">
            <li class="previous"><a href="/#news">&larr; К списку новостей</a></li>
            <li class="jm-comments-title">Комментарии</li>
            <li class="next">
                <a class="twitter-share-button"
                   href="https://twitter.com/intent/tweet?text={{ page.title }}. https://jm-organization.github.io{{ page.url }}"
                ><span style="
                background: url(https://abs.twimg.com/a/1500006089/img/t1/favicon.svg) no-repeat center 0;
                width: 20px;
                height: 20px;
                display: inline-block;
                background-size: contain;
                float: left;
                margin-right: 5px"
                ></span>Поделиться</a>
            </li>
        </ul>
    </div>
    <div id="disqus_thread"></div>
</div>
<script>
    var disqus_config = function () {
        this.page.url = window.location.href;
        this.page.identifier = 'article'+window.location.pathname;
    };
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://jm-organization.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
