---
layout: body-sample
---

{% if post.published %}
<div class="jm-article">
    {{ content }}
</div>

{% if site.comments %}
<div class="jm-comments">
    <div class="jm-comments-title">
        <ul class="jm-pager pager">
            <li class="previous"><a href="/#news">&larr; К списку новостей</a></li>
            <li class="jm-comments-title">Комментарии</li>
            <li class="next disabled"><a href="/#">Далее  &rarr;</a></li>
        </ul>
    </div>
    <div id="disqus_thread"></div>
</div>
<script>

    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     *
     */

    var disqus_config = function () {
        this.page.url = window.location.href;
        this.page.identifier = 'article'+window.location.pathname;
    };
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://jm-organization.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
{% else %}
<div class="jm-error not-found"><i class="jm-error-number">404</i></div>
{% endif %}
